#logo {
    background: steelblue;
}

.buttonmore {
    background: steelblue;
}

#menu ul li:hover {
    background: steelblue;
}

body {
    background: url('https://picsum.photos/id/238/1500/1500');
}